{% extends 'layout.twig' %}

{% block content %}

    <a href="../public/connexion.php" ><button>Connexion</button></a>
    <a href="../public/inscription.php" ><button>Inscription</button></a>

{% endblock %}